
.navbar-top {
  
  top: 0;
  border-bottom: 10rem;
  width: 100%;
  z-index: 1000; /* Ensures it's above other content */
  background-color: var(--navbar-bg-color); /* Set background color using CSS variable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-nav {
  margin-left: auto; /* Move the navbar links to the right */
}

.navbar-link {
  margin-right: 20px; /* Adjust spacing between navbar links */
  color: var(--navbar-text-color); /* Set link color using CSS variable */
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--navbar-text-hover-color); /* Set link color on hover using CSS variable */
  text-decoration: underline;
}

/* Customize active link */
.navbar-link.active {
  color: var(--navbar-active-text-color); /* Set active link color using CSS variable */
  font-weight: bold; /* Make active link bold */
}
