.createuser {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.card-1 {
  width: 400px;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-primary {
  background-color: #007bff;
  margin-right: 10px;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-secondary:hover {
  color: #0056b3;
  border-color: #0056b3;
}
